:root {
  --background: #020617;
  --foreground: #f8fafc;
  --brand-from: #6366f1;
  --brand-via: #0ea5e9;
  --brand-to: #22d3ee;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
